@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
/* Ocultar barras de desplazamiento sin afectar la funcionalidad del scroll del mouse */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}
/* Modal.css (or styles/Modal.module.css if using CSS modules, or global styles) */
.modal-wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  margin: 150px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
}

.modal-body {
  padding: 1.5rem; /* p-4 md:p-5 converted to rem for better consistency */
}